body{
    position: relative;
}
section{
    margin: 0 0 20px 0;
  }
/**********************************
        FORMATAÇÃO NAV
**********************************/
nav{
    right: 4em;
   
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    
        
}
nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  
}
nav ul li{
    
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    color: whiteçgit ;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #ab8e62;
    cursor: pointer;
}

/**********************************
        FORMATAÇÃO BANNNER
**********************************/
.banner-about {
   text-align: center;
   display: flex;
   align-items: center;
    border-top: 1px solid #ab8e62;
    height: 75vh; 
    position: relative;
    transition: .5s;
    margin-bottom: 2em;   
}
.bannerCaption{
    transition: .3s;
    background: url("../img/Eu-removebg-preview.png") no-repeat center;
    background-size: cover;
    border: 5px solid #ab8e62;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    display: none;    
}
.bannerImg{
   background: url("../img/Eu-removebg-preview.png") no-repeat right;
   background-size: contain;
   
   position: absolute;
   width: 100%;
   height: 100%;
}

.text-banner{
   
   margin-left: 10em;
   z-index: 1;
   text-shadow: 2px 2px 2px #212529;

}
/**********************************
             BUTONS
**********************************/

.btn-second{
    background-color:#ab8e62;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
}
.btn-second:hover{
    background-color:#9d7e50;
    text-decoration: underline;
    
}

/**********************************
        FORMATAÇÃO DISPOSITIVOS MÓVEIS
**********************************/
  @media only screen and (max-width: 1205px){
    .text-banner{
        margin-left: 20px  ;
    }
  }
 
   @media only screen and (max-width:700px){
    .bannerCaption{
     display: block;
     transition: 1s;
    

       
    }
    .bannerImg{
        transition: .5s;
        opacity: 0;

    }
    .banner-about{
       
        background-image: none;
        flex-direction: column;
        height: auto;
       
      
    }
  }

 

/**********************************
        FANPAGE / FOOTER
**********************************/
  .fanpage {

    width: 400px;
    font-size: 45px;
    display: flex;
    justify-content: space-around;
    margin: 50px 0 50px 0;

  }
  
 .fanpage a{
    color: #9d7e50;
 }
 .fanpage a:hover{
    color: #d2a561;
 }

 
footer{
    margin: 100px 0 0 0;
    background: black;
    padding: 30px;
}

/**********************************
            ARROW UP
**********************************/
.arrowUp{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom:20px;
    cursor: pointer;
    position: fixed;
    border: 2px solid #9d7e50;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #9d7e50;
    text-decoration: none;

}